@using STL.POS.Data;

<div class="tbl data_Gpl tCom col-12 brochure_box">
    <table>
        <tr class="gradient_azul">
            <th align="left" class="c1"><span>Productos</span></th>
            <th align="center" class="c2"><span>Elegibilidad</span></th>
            <th align="center" class="c3"><span>Cobertura</span></th>
            <th align="center" class="c4"><span>Deducible</span></th>
            <th align="center" class="c5"><span>Beneficios Adicionales</span></th>
            <th align="center" class="c6"><span>Brochure</span></th>
        </tr>

        @{
            var _Model = (ProductTypeFamilyBrochure[])Model;
            foreach (var f in _Model)
            {
                foreach (var p in f.ProductTypes)
                {
                    <tr>
                        <td align="left">@p.Name</td>
                        <td align="center">@p.Elegibilidad</td>
                        <td align="center">@p.Coberturas</td>
                        <td align="center">@p.Deducible</td>
                        <td align="center">
                            <ul>
                                @foreach (var item in p.Benefits)
                                {
                                    <li align="left">
                                        @item.Description
                                    </li>
                                }
                            </ul>
                        </td>                       
                        @BrochureHelper.LinkPdfBrochure(p.Name,this)
                    </tr>
                }
            }
        }
    </table>
   
</div>
<div class="row_A">
    <button class="col-2 fr button button-red alignC embossed" onclick="$('#brochurePopup').hide();">Cerrar</button>
</div>