<div class="main_menu menu2 VO">
    <div class="box_logo"><a href="/" class="logo"></a></div>
    <!--Menu Mobile DTL-->
    <div data-ks-navbar class="nav navbar">
        <nav>
            <ul>
                <li class="active">
                    Men&uacute;
                    <ul>                       
                        <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Dashboard", appname = "VirtualOffice" })" class="active"><span class="icon dashboard"></span><span>Panel de Control</span></a></li>
                        <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "ClientsAndPolicies", appname = "VirtualOffice" })" class=""><span class="icon clients"></span><span>Clients and Polices</span></a></li>
                        <li class="dropdown"><a href="../salud/salud_pago.html" class=""><span class="icon reclamos"></span><span>Reclamos</span></a></li>
                        <li class="dropdown"><a href="../propiedad/propiedad.html" class=""><span class="icon comisiones"></span><span>Comisiones</span></a></li>
                        <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Payments", appname = "VirtualOffice" })" class=""><span class="icon pagos"></span><span>Pagos</span></a></li>
                        <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Cancellations", appname = "VirtualOffice" })" class=""><span class="icon cancelaciones"></span><span>Cancelaciones</span></a></li>
                        <li class="dropdown">
                            <a href="../viaje/viaje.html" class=""><span class="icon formas"></span><span class="">Formas & Comunicaciones</span></a>
                        </li>
                        <li class="dropdown"><a href="../viaje/viaje.html" class=""><span class="icon entretenimiento"></span><span>Centro de Entretenimiento</span></a></li>
                        <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Contact.aspx", appname = "VirtualOffice" })" class=""><span class="icon contactos"></span><span>Contactos</span></a></li>
                        <li class="dropdown">
                            <a href="../cotizar/cotizar.html" class=""><span class="icon ventas"></span><span class="">Ventas</span></a><div class="name_dd"></div><ul class="drop-nav">
                                <li class="flyout">
                                    <a href="#"><b class="mn_auto"></b>Ventas</a>
                                </li>
                                <li class="flyout">
                                    <a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Contact.aspx", tab="Illustration", appname = "NewBusiness" })"><b class="mn_auto"></b>Ilustraciones</a>
                                </li>
                                <li class="flyout">
                                    <a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Pending", appname = "VirtualOffice" })"><b class="mn_auto"></b>Pending</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!--// Menu Mobile DTL-->
    <div id="menu" class="nav">
        <ul>
            <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Dashboard", appname = "VirtualOffice" })" class="active"><span class="icon dashboard"></span><span>Panel de Control</span></a></li>
            <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "ClientsAndPolicies", appname = "VirtualOffice" })" class=""><span class="icon clients"></span><span>Clients and Polices</span></a></li>
            <li class="dropdown"><a href="../salud/salud_pago.html" class=""><span class="icon reclamos"></span><span>Reclamos</span></a></li>
            <li class="dropdown"><a href="../propiedad/propiedad.html" class=""><span class="icon comisiones"></span><span>Comisiones</span></a></li>
            <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Payments", appname = "VirtualOffice" })" class=""><span class="icon pagos"></span><span>Pagos</span></a></li>
            <li class="dropdown"><a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Cancellations", appname = "VirtualOffice" })" class=""><span class="icon cancelaciones"></span><span>Cancelaciones</span></a></li>
            <li class="dropdown">
                <a href="../viaje/viaje.html" class=""><span class="icon formas"></span><span class="txt_lb">Formas & Comunicaciones</span></a>
                <div class="name_dd"></div>
                <ul class="drop-nav">
                    <li class="flyout">
                        <a href="#"><b class="mn_auto"></b>Comunicaciones</a>
                    </li>
                    <li class="flyout">
                        <a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Forms", appname = "VirtualOffice" })"><b class="mn_auto"></b>Forms</a>
                    </li>
                    <li class="flyout">
                        <a href="#"><b class="mn_auto"></b>Investments</a>
                    </li>
                    <li class="flyout">
                        <a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "InvestmentsReturns", appname = "VirtualOffice" })"><b class="mn_auto"></b>Returns</a>
                    </li>
                    <li class="flyout">
                        <a href="#"><b class="mn_auto"></b>Brochure</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown"><a href="../viaje/viaje.html" class=""><span class="icon entretenimiento"></span><span>Centro de Entretenimiento</span></a></li>
            <li class="dropdown"><a href="../viaje/viaje.html" class=""><span class="icon contactos"></span><span>Contactos</span></a></li>
            <li class="dropdown">
                <a href="../cotizar/cotizar.html" class=""><span class="icon ventas"></span><span class="txt_lb">Ventas</span></a><div class="name_dd"></div>
                <ul class="drop-nav">
                    <li class="flyout">
                        <a href="#"><b class="mn_auto"></b>Ventas</a>
                    </li>
                    <li class="flyout">
                        <a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Contact.aspx", tab="Illustration", appname = "NewBusiness" })"><b class="mn_auto"></b>Ilustraciones</a>
                    </li>
                    <li class="flyout">
                        <a href="@Url.Action("RedirectToVo", "Account", new { Area = "Security", path = "Pending", appname = "VirtualOffice" })"><b class="mn_auto"></b>Pending</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--menu class nav-->

</div>
<!--//main menu-->
