@*@model IEnumerable<StateTrustGlobal.ViewModels.Marcas>*@
@*@model IPagedList<StateTrustGlobal.ViewModels.Marcas>
@using StateTrustGlobal.Helpers
@using PagedList;
@using PagedList.Mvc;*@
@using StateTrustGlobal.ViewModels
@using StateTrustGlobal.Helpers
@model dynamic
@using PagedList;
@using PagedList.Mvc;
<br />
<style>
    #overlay {
        background: #ffffff;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 25%;
    }
</style>
 <h2>Marcas Registradas</h2>
<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Esta seguro que desea eliminar?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>
<div id="overlay">
    <img src="~/images/loading5.gif" alt="Loading" /><br />
</div>
<br />
@* ###################################################### *@
@* ######### VISTA PARCIAL DE LAS ALERTAS################ *@
@* ###################################################### *@
@{ Html.RenderPartial("_Alerts"); }
@* ###################################################### *@
@* ######### VISTA PARCIAL DE LAS ALERTAS################ *@
@* ###################################################### *@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
 <script>
    jQuery(window).load(function () {
        jQuery('#overlay').fadeOut();
    });
</script>
 
  
    <!-- /.row -->
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Marcas Registradas
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table  table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>
                                            Marca

                                        </th>
                                        <th>
                                            Estatus
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                @foreach (Marcas item in Model.Marcas)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Make_Desc)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pos_Flag)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Volver Atras", "Modelo", null, new { @class = "btn btn-info" })*@
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus-sign'></span>", "Crear Marca y Modelo", "Modelo", "MarcasModelos",
                                        htmlAttributes: new { data_modal = "", @class = "btn btn-info" })
                                        &nbsp;
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Editar", "Edit", "MarcasModelos",
                                        routeValues: new { id = item.Make_Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning", id = "lnkCreate" })
                                        &nbsp;
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "Crear Modelo", "ModelCreate", "MarcasModelos",
                                        routeValues: new { id = item.Make_Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-success" })
                                    </td>

                                </tr>
                            }
                            </table>


                        </div>

                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
 


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>
            <!-- Page-Level Demo Scripts - Tables - Use for reference -->   
            <script>
                $(document).ready(function () {
                    $('#dataTables-example').DataTable({
                        responsive: true
                    });
                });
            </script>

            <script>
                $(document).ready(function () {
                    var url = "";
                    $("#dialog-alert").dialog({
                        autoOpen: false,
                        resizable: false,
                        height: 170,
                        width: 350,
                        show: { effect: 'drop', direction: "up" },
                        modal: true,
                        draggable: true,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        buttons: {
                            "OK": function () {
                                $(this).dialog("close");

                            },
                            "Cancel": function () {
                                $(this).dialog("close");
                            }
                        }
                    });

                    if ('@TempData["msg"]' != "") {
                        $("#dialog-alert").dialog('open');
                    }
                    $("#dialog-edit").dialog({
                        autoOpen: false,
                        modal: true,
                        draggable: false,
                        resizable: false,
                        position: ['center', 'center'],
                        closeOnEscape: true,
                        minWidth: 440,
                        minHeight: 220,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                            $(this).load(url);
                        }
                    });

 

                    $("#dialog-detail").dialog({
                        title: ' ',
                        autoOpen: false,
                        resizable: false,
                        width: 'auto',
                        show: { effect: 'drop', direction: "up" },
                        modal: true,
                        draggable: true,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                            $(this).load(url);
                        },
                        buttons: {
                            "Close": function () {
                                $(this).dialog("close");
                            }
                        }
                    });

                    $("#lnkCreate").live("click", function (e) {
                        //e.preventDefault(); //use this or return false
                        url = $(this).attr('href');
                        $("#dialog-edit").dialog('open');

                        return false;
                    });
                   

                    $("#btncancel").live("click", function (e) {
                        $("#dialog-edit").dialog("close");
                        return false;
                    });
                });
            </script>
        }
