@model List<stl.pos.data.csentities.geterrorquotationresult>

    @{
        ViewBag.Title = "Revisar Cotizacion";
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }
    @*@Scripts.Render("~/bundles/selectQuotation")
        @Scripts.Render("~/bundles/momentjs")*@


    <div class="row pdv_cont log_serv cotiza">
        <div class="head_xpress"><i class="logoXpress"></i></div>
        <div class="cont_rosa">
            <div class="ttlStep  azul_pl">@Globalization.Home.HomeSelectQuotation.ContinueQuoteTitle:</div>
            <div class="row_A">
                <label>Numero Cotizacion</label>
                <input type="text" id="quotNumber" />
            </div>


            <div class="alignC m0 buttons">
                <div class="col-2 fl back_btn_div">
                    <a class="back_btn" href="/">
                        <i class="flecha_iz_az">
                        </i>Regresar
                    </a>
                </div>
                <div class="col-2 fr continueSearchDiv"><button class="button button-blue alignC embossed continueSearch" style="margin-top:15px;" data-bind="click: redirect">@Globalization.Home.HomeSelectQuotation.QuotTitle</button></div>
            </div>
        </div>

        <div class="cont_rosa">

            <div class="tbl data_G bordered sAdicio">
                <table>
                    <thead>
                        <tr class="gradient_azul">
                            <th align="center" class="c1"><span>Project_Id</span></th>
                            <th align="center" class="c2"><span>Log_Value</span></th>
                            <th align="center" class="c3"><span>Create_Date</span></th>
                            <th align="center" class="c3"><span>HostName</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td align="center" class="c1">
                                    @Model.Project_Id
                                </td>
                                <td align="center" class="c2">@Model.Log_Value</td>
                                <td align="center" class="c2">@Model.Create_Date</td>
                                <td align="center" class="c3">@Model.HostName</td>
                            </tr>
                        }


                    </tbody>

                </table>
                <br />
            </div>
        </div>

    </div>


    <script type="text/javascript">

        $(document).ready(function () {

        });

    </script>
