@model  IEnumerable<KSI.Cobranza.Web.Models.ViewModels.CollectionPaymentViewModels>
@{
    var webGrid = new WebGrid(source: Model, ajaxUpdateContainerId: "dvGridPendingPaymentCobranza");
}

<div id="dvGridPendingPaymentCobranza">
    @webGrid.GetHtml(tableStyle: "table table-striped car",
                     headerStyle: "header-table",
                     mode: WebGridPagerModes.All,
                     htmlAttributes: new { @id = "gvHistoryPaymentCobranza" },
                                    columns: webGrid.Columns(
                                                              webGrid.Column("QuotaNumber", "Número de cuota"),
                                                              webGrid.Column(header: "Fecha de vencimiento cuota", format: @<text><span>@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:dd/MM/yyyy}", item.DueDate)</span></text>, style: "text-center"),                                                              
                                                              webGrid.Column(header: "Monto de la cuota", format: @<text><span>@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0.00}", item.QuotaAmount)</span></text>, style: "text-center"),
                                                              webGrid.Column(header: "Monto Pagado", format: @<text><span>@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0.00}", item.PaidAmount!=null? item.PaidAmount : 0)</span></text>, style: "text-center"),
                                                              webGrid.Column(header: "Saldo pendiente de la cuota", format: @<text><span>@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0.00}", item.QuotaAmountBalance)</span></text>, style: "text-center")
                                                                                                                              ))

</div>