@{
    ViewBag.Title = "Cotizador Auto";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var culture = System.Globalization.CultureInfo.CreateSpecificCulture(ViewBag.CurrentLanguage);
    System.Threading.Thread.CurrentThread.CurrentCulture = culture;
    System.Threading.Thread.CurrentThread.CurrentUICulture = culture;
}
@Scripts.Render("~/bundles/autoKO")

@if (ViewBag.QuotationId != null)
{
    @Html.Hidden("loadQuotationId", (int)ViewBag.QuotationId)
    @Html.Hidden("loadQuotationNumber", (string)ViewBag.QuotationNumber)

}
@Html.Hidden("QuotationTotalPremium", "0")
@Html.Hidden("ParameterTotalPremium", "0")
@Html.Hidden("marbeteReciboQuotId")

<div class="pdv_cont_auto">

    <input type="hidden" id="stepNames" value="@Globalization.PosAuto.Index.Steps" />
    <input type="hidden" id="columnNames" value="@Globalization.PosAuto.Index.ColumnNames" />
    <input type="hidden" id="secondColumnNames" value="@Globalization.PosAuto.Index.SecondColumnNames" />

    @{
        Html.RenderPartial("_CotizadorLayout");

        System.Threading.Thread.CurrentThread.CurrentCulture = culture;
        System.Threading.Thread.CurrentThread.CurrentUICulture = culture;
        Html.RenderPartial("StepDrivers");
        Html.RenderPartial("StepVehicles");
        Html.RenderPartial("StepCoverage");

        Html.RenderPartial("StepVehicleCoverage");
        Html.RenderPartial("StepResume");

        Html.RenderPartial("StepBuy1");
        Html.RenderPartial("StepBuy2");
        Html.RenderPartial("StepBuy3");

        Html.RenderPartial("SideViewCustom");

        Html.RenderAction("Index", "GnlPP", new { Area = "Auto" });

        Html.RenderPartial("_GlobalPopups");
    }

    <div id="popupContainer"></div>
</div>

<script type="text/javascript">

    var today = new Date('@DateTime.Now.ToString("yyyy-MM-ddThh:mm:ss")');

    @{
        if(ViewBag.FromPayment != null)
        {
                        @:var paymentStatus = '@ViewBag.PaymentStatus';
                                                                @:var paymentSuccess = '@ViewBag.PaymentSuccess' == 'True';
                                                                @:var paymentMessage = '@ViewBag.PaymentMessage';
                                                                @:var quotationNumber = '@ViewBag.QuotationNumber';
                                                                @:var quotationId = '@ViewBag.QuotationId';
                                                                @:var PolicyNumberPayment = '@ViewBag.PolicyNumber';
                                                                @:var failInsentingQuotationOnSysFlexOrVO = '@ViewBag.failInsentingQuotationOnSysFlexOrVO';
                                                                @:var AuthorizationCode = '@ViewBag.AuthorizationCode';
                                                                @:var errorGPToSysflexMessage = '@ViewBag.errorGPToSysflexMessage';
                                                                @:var errorGPToSysflexMessage2 = '@ViewBag.errorGPToSysflexMessage2';

        }

        @:var userType = '@ViewBag.UserTypeStr';

        }

</script>
