@model STL.POS.Frontend.Web.Areas.Security.Models.LoginRegisterModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.IsLogin = true;
}

@Scripts.Render("~/bundles/security/login")


@Html.HiddenFor(model => model.Errors)
@if (ViewBag.ShowUserCreatedSuccess != null && ViewBag.ShowUserCreatedSuccess)
{
    @Html.Hidden("UserCreatedMessage", "Se ha creado satisfactoriamente su usuario.Le hemos enviado un correo electrónico con instrucciones para habilitar su cuenta.");
}

<div class="col-6">
    <div class="cont_gnl">
        <div class="col-12">
            @using (Html.BeginForm("Login", "Account", new { Area = "Security" }, FormMethod.Post, new { id = "loginForm" }))
            {
                @*@Html.AntiForgeryToken()*@
                <div class="label_plus_input lTitle">
                    <span>Usuario Existente</span>
                </div>
                <div class="label_plus_input par">
                    <span>Email</span>
                    @Html.TextBoxFor(model => model.Username)
                </div>
                <div class="label_plus_input par">
                    <span>Contraseña</span>
                    @Html.PasswordFor(model => model.Password)
                </div>

                <div class="col-12">
                    <div class="row">
                        <input type="submit" class="alignC button embossed button-green aviso_btn" value="Ingresar" />
                    </div>
                    <div class="row mT10">
                        <button type="button" class="alignC embossed round_blue licen640_btn" onclick="callChangePassword()">Olvidó su Contraseña</button>
                    </div>
                </div>
                if (ViewBag.UnauthorizedAccess != null && ViewBag.UnauthorizedAccess)
                {
                    <div>
                        <span style="color: red;">Debe loguearse en el sistema para acceder al recurso solicitado.</span>
                    </div>
                }
                <div>

                </div>
            }
            <div class="row mB20 mT20">
                <div class="centrodellamadas">
                    <div class="title">
                        <img src="../../../images/Icons-CentrodeLlamadas_03.png">
                        <p class="centro" style="padding-top: 2px;">CENTRO DE LLAMADAS</p>
                    </div>
                    <br class="clear">
                    <ul>
                        <li id="asist"><a href="http://www.atlantica.do/asistencia-247/">Asistencia</a></li>
                        <li id="email"><a href="http://www.atlantica.do/envienos-un-email/">Envienos un Email</a></li>
                        <li id="tel">(809) 565-5591</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--col-6-->

<div class="modal cpopup popupSuccess popupAskPassword" id="askPasswordChangePopup">
    <p>
        Cambio de contraseña
    </p>
    <div class="popup02">
        <div class="label_plus_input par">
            <span>Nombre de usuario</span>
            <input type="text" id="usernamePopup" />
        </div>
        <div class="popupAskPasswordDiv">
            <button class="pbtn button embossed button-green" id="askPasswordChangeAccept">Aceptar</button>
            <button class="pbtn pb_red" onclick="$('#askPasswordChangePopup').hide();">Cancelar</button>
        </div>
    </div>
</div>

<div class="col-6 mT-media970">
    <div class="cont_gnl newUser">
        <div class="col-12 cmT">
            <div class="label_plus_input lTitle">
                <span>Nuevo Usuario</span>
            </div>
            @using (Html.BeginForm("Register", "Account", new { Area = "Security" }, FormMethod.Post, new { id = "registerForm" }))
            {
                @*@Html.AntiForgeryToken()*@
                <div class="label_plus_input par">
                    <span>Nombre</span>
                    @Html.TextBoxFor(model => model.Name)
                </div>
                <div class="label_plus_input par">
                    <span>Apellido</span>
                    @Html.TextBoxFor(model => model.Surname)
                </div>
                <div class="label_plus_input par">
                    <span>Teléfono</span>
                    @Html.TextBoxFor(model => model.Telephone)
                </div>
                    <div class="label_plus_input par">
                        <span>Email</span>
                        @Html.TextBoxFor(model => model.Email)
                    </div>
                        <div class="label_plus_input par">
                            <span>Confirmar Email</span>
                            @Html.TextBoxFor(model => model.ConfirmEmail)
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <input type="submit" class="alignC button embossed button-green" value="Crear" />
                            </div>

                        </div>

            }

        </div>
    </div>
</div><!--col-6-->
