@model KSI.Cobranza.Web.Models.ViewModels.EmailAddress
<div id="dvContainerEmail">
    @using (Ajax.BeginForm("SetEmail", "Process",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            UpdateTargetId = "frmEmail",
                                            InsertionMode = InsertionMode.Replace,
                                            OnSuccess = "ClearFields(this)",
                                            OnComplete = "GetEmails($('#CustomerId').val());"
                                            //OnBegin = "ValidationSummary(this)"
                                        }, new
                                        {
                                            @id = "frmEmail"
                                        }))
    {
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="ComponentID">Tipo:</label>
                    @Html.DropDownListFor(o => o.Type, Model.emailTypes.Select(x => new SelectListItem { Text = x.Value, Value = x.Key }), "Seleccionar", new { @class = "form-control" })
                    @Html.Hidden("CustomerId")
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="CompanyID">Correo:</label>                       
                    @Html.TextBoxFor(model => model.address, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="CompanyID">Estatus:</label>
                    <div>                    
                        @Html.CheckBoxFor(model => model.IsActive) Activo
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="CompanyID">Principal:</label>
                    <div>
                        @Html.CheckBoxFor(model => model.IsPrimary)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="CompanyID">Observaciones:</label>              
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control col-eq", @rows = "3" })
                </div>
            </div>
        </div><!--row-->

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Agregar
                </button>
            </div>
        </div>
        <br />
        @Html.ValidationSummary(false, "Para continuar por favor complete los campos requeridos.", new { @class = "alert alert-danger" })
    }
</div>