@model  IEnumerable<KSI.Cobranza.Web.Models.ViewModels.QuotaInformation>


@{ var webGrid = new WebGrid(source: Model, ajaxUpdateContainerId: "dvReceipOfPaymentGrid", ajaxUpdateCallback: "InitQuotaInformation()") ; }
            
<div id="dvReceipOfPaymentGrid">
    @webGrid.GetHtml(tableStyle: "table table-striped car PhoneMail",
                            headerStyle: "header-table",
                            mode: WebGridPagerModes.All,
                                        htmlAttributes: new { @id = "gvReceipOfPayment" },

                            columns: webGrid.Columns(
                                                            webGrid.Column("transactionPaymentPlanId", "Id"),
                                                            webGrid.Column("quotaNumber", "Cuota"),
                                                            webGrid.Column("emisionQuotaDate", "Fecha", format: @<text>@String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:dd/MM/yyyy}", item.emisionQuotaDate)</text>),
                                                            webGrid.Column("endQuotaDate", "Vencimiento",format: @<text>@String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:dd/MM/yyyy}", item.endQuotaDate)</text>),
                                                            webGrid.Column("validationTotal", "Total",format: @<text>@String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0.00}", item.validationTotal)</text>),
                                                            webGrid.Column("validationBalance", "Saldo",format: @<text>@String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0.00}", item.validationBalance)</text>),
                                                            webGrid.Column(null, "Pago Adelantado", format: @<text><div class='@item.ClassPagoAdel'><i class='@item.ClassIconAdel'></i></div></text>, style: "text-center"),
                                                            webGrid.Column(null, "Ult. Cuota", format: @<text><div class='@item.ClassLastPayment'><i class='@item.ClassIconPayment'></i></div></text>, style: "text-center"),
                                                            webGrid.Column("transactionReasonName", "Ind. Cuota"),
                                                            webGrid.Column(null, null,format: @<text><input id="Myrow" type="hidden" value="@item.DataJson" /></text>)
)
)
</div>

