@model KSI.Cobranza.Web.Models.ViewModels.PersonalInformationViewModels
<div class="row  row-eq mb20">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-eq">
        <div class="panel panel-info col-eq">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">1er Nombre:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.FirstName">
                            <input type="hidden" id="CustomerId" value="@Model.CustomerId" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">2do Nombre:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.SurName">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">1er Apellido:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.FirstLastName">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">2do Apellido:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.SecondLastName">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Apellido Casada:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.MarriedLastName">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <fieldset disabled="">
                            <div class="form-group">
                                <label for="disabledSelect">Estado Civil:</label>
                                <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.MaritalStatus">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <fieldset disabled="">
                            <div class="form-group">
                                <label for="BusinessLine">Sexo:</label>
                                <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.SexDesc">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">No. Depend.:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.NoDepend">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Fecha Nacimiento:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@string.Format("{0:dd/MM/yyyy}", Model.Dob)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Tipo de Cliente (SIB):</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.CustomerType">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Tipo Persona:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.PersonType">
                        </div>
                    </div>
                </div><!--row-->
            </div>
        </div>
    </div>
</div><!--row-->

<div class="row  row-eq mb20">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-eq">
        <div class="panel panel-success col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-file-text fa-fw"></i>Contacto
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Código:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.contact.Code">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Cargo:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.contact.Position">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Teléfono:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.contact.PhoneNumber">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Email:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.contact.Email">
                        </div>
                    </div>
                </div><!--row-->
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-eq ">
        <div class="panel panel-success col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-map-marker fa-fw"></i>Dirección
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Dirección:</label>
                            <input class="form-control" id="disabledInput" type="text" readonly value="@Model.address.address">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <fieldset disabled="">
                            <div class="form-group">
                                <label for="BusinessLine">Tipo:</label>
                                <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.addressType">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">País:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.Country">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Calle:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.Street">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">No.:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.Number">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Urbanización:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.Urbanization">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Sector:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.Sector">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Ciudad:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.City">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Provincia:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.Province">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Localidad:</label>
                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.address.location">
                        </div>
                    </div>
                </div><!--row-->
            </div>
        </div>
    </div>
</div><!--row-->

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-eq" id="dvPhones">
        @Html.Partial("_ContactPhone", Model.phones)
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-eq" id="dvEmails">
        @Html.Partial("_ContactEmailAddress", Model.emails)
    </div>
</div><!--row-->

