<script type="text/html" id="stepVehicles">
    <div class="col-12">
        <div class=" tbl data_G agregar_vh" data-bind="with: stepData">
            <table>
                <thead>
                    <tr class="gradient_azul">
                        <th align="center"><span>Marca</span></th>
                        <th align="center"><span>Modelo</span></th>
                        <th align="center"><span>Año</span></th>
                        <th align="center"><span>Cilindros</span></th>
                        <th align="center"><span>Capacidad de<br> Carga</span></th>
                        <th align="center"><span>No.<br> Pasajeros</span></th>
                        <th align="center"><span>Uso Principal</span></th>
                        <th align="center"><span>Estacionamiento</span></th>
                        <th align="center"><span class="bg_grd_azul">Conductor<br> Principal</span></th>
                        <th align="center" style="width: 32px"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: vehicles">
                    <tr>
                        <td align="center">
                            <select data-bind="options: $parent.vehicleBrandList, optionsText: 'name', optionsValue: 'id', value: brand, optionsCaption: '@Globalization.Global.Select', css: { errorBorder: !brand() }"></select>
                        </td>
                        <td align="center">
                            <select data-bind="options: modelList, optionsText: 'name', optionsValue: 'id', value: model, optionsCaption: '@Globalization.Global.Select', css: { errorBorder: !model() }"></select>
                        </td>
                        <td align="center">
                            <select data-bind="options: $parent.vehicleAvailableYears, value: year, css: {errorBorder: !year()}"></select>
                        </td>
                        <td align="center">
                            <input type="text" name="cylinders" data-bind="value: cylinders" placeholder="--" />
                        </td>
                        <td align="center">
                            <input type="text" name="weight" data-bind="value: weight" placeholder="--" />
                        </td>
                        <td align="center">
                            <select data-bind="options: $parent.availablePassengersList, optionsText: 'name', optionsValue: 'id', value: passengers, optionsCaption: '@Globalization.Global.Select'"></select>
                        </td>
                        <td align="center">
                            <select data-bind="options: $parent.usageList, optionsText: 'name', optionsValue: 'id', value: usage, optionsCaption: '@Globalization.Global.Select', css: { errorBorder: !usage() }"></select>
                        </td>
                        <td align="center">
                            <select data-bind="options: $parent.storeList, optionsText: 'name', optionsValue: 'id', value: store, optionsCaption: '@Globalization.Global.Select', css: { errorBorder: !store() }"></select>
                        </td>
                        <td align="center">
                            <select data-bind="options: $parent.drivers, optionsText: 'toString', optionsValue: 'id', value: driver, optionsCaption: '@Globalization.Global.Select', css: { errorBorder: !driver() }"></select>
                        </td>
                        <td align="center">
                            <a class="grid_icons cazul delete" href="#" data-bind="click: function() { $parent.removeVehicle(this) }"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="focusBtnAddVehicle" class="btnPlus plus" data-bind="click: addVehicle"></button>
        </div>
    </div>

    <!-- Boton de Funcion -->
    <div class="row_A mT10 mB10 pdR20">
        <a href="#" class="btn backBtn" data-bind="click: function() { $parent.prevStep(); }"></a>
        <a href="index_p2.html" class="btn bgreen fr" data-bind="text: nextStepButtonTitle, click: stepData.stepVehicleCompleted"></a>
    </div>

</script>
