<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="dcastro-amateo" />
    <title>Reporte de Cotización</title>

    <!--CSS Style-->
    @Styles.Render("~/Content/reset")
    @*@Styles.Render("~/Content/vo")*@
    @Styles.Render("~/Content/kickstart")
    @Styles.Render("~/Content/menuBundle")
    @Styles.Render("~/Content/amr")
    @Styles.Render("~/Content/dtl")
    @Styles.Render("~/Content/jqueryuilib")

    <!--SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/kickstart")
    @Scripts.Render("~/bundles/knockoutjs")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/jqueryvalidate")
</head>
<body>
    <div id="reportViewer">
        <iframe id="reportViewerFrame" class="reportSource" src="@ViewBag.reportPath" frameborder="0" marginwidth=2 marginheight=4 scrolling="auto"></iframe>
        <div class="btn_funciones cont_gnl">
            <ul class="">
                <li id="reportBuyButton" style="display:none;"><button class="buy_icon"></button></li>
                <li id="reportSaveButton"style="display:none;"><button class="save_icon"></button></li>
                <li><button class="emailB" data-bind="click: showEmailSender"></button></li>
                <li id="reportPrintButton"><button class="print_icon" data-bind="click: printReporte"></button></li>
                <li id="reportDownloadButton"><div><a target="_blank" href="@ViewBag.reportPath" class="pdf_icon" download="Cotizacion"></a></div></li>
            </ul>
        </div>
    </div>

    <div id="popupEmailModal" class="modal popup03 popupEmail">
        <!--   -->
        <a data-modal-close="true" class="closeX" href="#" onclick="$('#popupEmailModal').hide();$('#reportViewerFrame').show();">×</a>
        <p>
            Ingrese los destinatarios
        </p>
        <span data-bind="text: errorEmail" style="background:#FFC3A5"></span>
        <div class="tbl grid_popup">
            <table>
                <thead>
                    <tr class="gradient_azul">
                        <th align="center"><span>Email</span></th>
                        <th align="center" style="width:40px"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: emailDestList">
                    <tr>
                        <td align="center">
                            <input type="text" data-bind="value: $rawData" placeholder="--" />
                        </td>
                        <td align="center">
                            <!--ko if: $index() != 0 -->
                            <a class="grid_icons cazul delete" href="#" data-bind="click: function () { emailDestList.splice($index(), 1); }"></a>
                            <!--/ko-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btnPlus plus" data-bind="click: addEmailDest"></button>
        <div class="mT10">
            <button id="send" class="pbtn pb_green" data-bind="click: sendReportEmail">Aceptar</button>
            <button class="pbtn pb_red" onclick="$('#popupEmailModal').hide();$('#reportViewerFrame').show();">Cancelar</button>
        </div>
    </div><!--cpopup-->
    @{Html.RenderPartial("_GlobalPopups");}
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {

        var model = function(){
            var self = this;
            
            self.errorEmail = ko.observable();
            self.emailDestList = ko.observableArray();
            self.addEmailDest = function () {
                self.emailDestList.push(ko.observable());
                $('#popupEmailModal table input[type="text"]:last').focus();
            };
            self.showEmailSender = function (sendFunction) {
                //if (self.quotation()) {
                    self.errorEmail('');
                    self.emailDestList([ko.observable()]);
                    $('#popupEmailModal').show();
                    $('#popupEmailModal table input[type="text"]:first').focus();
                    $('#reportViewerFrame').hide();

                    //$("#popupEmailModal #send").unbind("click");
                    //$("#popupEmailModal #send").bind("click", sendFunction ? function () { sendFunction(); $('#reportViewerFrame').show(); } : self.sendReportEmail);
                //}
            };

            self.sendReportEmail = function () {
                var emailDestList = JSON.stringify(ko.toJS(self.emailDestList()));
                $.getJSON("/PosAuto/EnviarReporteEmail", { destinatarios: emailDestList, idCotizacion: '@ViewBag.idQuotation' }, function (data) {
                    if (data.error) {
                        self.errorEmail(data.error);
                    }
                    else {
                        $('#popupEmailModal').hide();
                        $('#reportViewerFrame').show();
                        showSuccess("Envío de reporte", "El reporte se envió correctamente a los destinatarios.", null, null, function () { });
                    }
                });
            };

            self.printReporte = function () {

                $.getJSON("/ReportViewer/PrintReport", { sourceFile: '@ViewBag.reportPath' }, function (data) {
                    try {
                        $("#iframeTmp").remove();

                        var iframeTmp = document.createElement('iframe');
                        iframeTmp.id = "iframeTmp";
                        iframeTmp.src = data.reportName;
                        iframeTmp.style.display = 'none';

                        document.body.appendChild(iframeTmp);
                    }
                    catch (e) {
                        window.open('@ViewBag.reportPath', 'Print_Preview', 'resizable=1');
                    }
                });
            };

        };

        ko.applyBindings(model);
    });

</script>